<label class="toc-toggle">
  <span class="icon"></span>
  <input type="checkbox">
</label>
<menu class="toc">
  {% for item in site.data.toc %}
  <li>
    {% if item.url %}
      <a href="{{ item.url | relative_url }}"
        {% if page.permalink == item.url %}class="current"{% endif %}
      >
        {{ item.title }}
      </a>
    {% else %}
      <label><input type="radio" name="toc-radio">{{ item.title }}</label>
      <menu class="submenu">
        {% for sub in item.pages %}
        <li>
          <a href="{{ sub.url | relative_url }}"
            {% if page.permalink == sub.url %}class="current"{% endif %}
          >
            {{ sub.title }}
          </a>
        </li>
        {% endfor %}
      </menu>
    {% endif %}
  </li>
  {% endfor %}
</menu>
