:root {
  --color-link: #003b8c;
  --color-visited: var(--color-link);
  --color-header-fg: #ffffffaa;
  --color-header-bg: #836a88;
  --color-html-bg: #fbf7f2;
  --color-text-fg: #001033;
  --color-accent: var(--color-link);
  --color-card-bg: color-mix(in srgb, var(--color-accent), transparent 90%);
}
