:root {
  --color-link: #003b8c;
  --color-visited: var(--color-link);
  --color-header-fg: #ffffff;
  --color-header-bg: #d7dfeb;
  --color-html-bg: #fbf7f2;
  --color-text-fg: #001033;
  --color-accent: var(--color-link);
}
