<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="icon"
      sizes="512x512"
      href="{{ '/assets/icons/logo-512.png' | relative_url }}"
    />
    <link
      rel="icon"
      sizes="32x32"
      href="{{ '/assets/icons/logo-32.png' | relative_url }}"
    />
    <link
      rel="icon"
      sizes="16x16"
      href="{{ '/assets/icons/logo-16.png' | relative_url }}"
    />

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
      media="screen"
      type="text/css"
    />

    {% seo %}
  </head>

  <body>
    <header>
      <h1><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h1>
    </header>
    <nav id="site-toc">
      {% include toc.html %}
    </nav>
    <main class="{{ page.main_class }}">
      {{ content }}
    </main>
  </body>
</html>
